/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* clear fix */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/****************************************************************************************************
    |  Mobile style
*****************************************************************************************************/
.container{
    padding: 0 0.5em;
    background-color: azure;
    /*you never want anything right up against the edge of the screen, 
    so a small amount of padding on the left and right helps leave a bit of whitespace. */
}

.large{
    display: none;
    /* hide anything with the class large(we'll show it at a larger size */
}
/* style the navigation links so they are more like a button, 
andeasier to click wuith your finger. */
nav ul a{
    background-color: #d4f8ff;
    display:block;
    /* make them block elements so they can have width and height */
    width:100%;
    /* the em unit is relative to the font size of the element, so it will scale with the text size. 
    the default font size is 16px, so 2em is 32px. */
    height: 2em;
    text-align: center;
    border-top:1px solid rgb(169, 231, 255);
    border-bottom:1px solid rgb(169, 231, 255);
    text-decoration: none;
    color:rgb(21, 115, 115);
}
nav ul a:active{
    background-color: rgb(79, 131, 142);
}

h1{
    font-size: 30px;
}



/*********************************************************************************************
        LARGER SCREENS
        MEDIS QUERIES
**********************************************************************************************/

@media screen and (min-width:600px){
    /* all CSS in this media query will only apply to your site 
    when the size of the user's screen is 600px wide or greater*/
    

    /* switch the nac from vertical to horizontal */
    nav ul li{
        /* modify the list items the anchor tags are inside of */
        float:left;
        width:25%;
        margin: 0;
        padding: 0;
    }
    nav ul a{
        /* override the borders on the anchor tags */
        border-top: none;
        border-bottom: none;
        border-left: 2px solid rgb(4, 41, 126);
    }

    /* the first anchor has a border on the left, which we don't want - 
    so we can style the anchor int he first list item to have no border,
    using :first-child */
    nav ul li:first-child a{
        border-left: none;
    
    }
}

/*
@media screen and (min-width:768px){
     the CSS in this media query will only apply to your site when the size of the screen is 768px wide or greater - 
    since this is after the 600px media query,
    styles inside here will override it 
    body{
        background-color: rgb(44, 90, 101);
    }
    .container{
        width:100%;
        max-width: 800px;
        margin: 0 auto;
        background-color: azure;
         this will center the container div in the browser window when the screen is wider than 800px. *    
    }

    }
*/

@media screen and (min-width:968px){
    /* the CSS in this media query will only apply to your site when the size of the screen is 768px wide or greater - 
    since this is after the 600px media query,
    styles inside here will override it */
    body{
        background-color: rgb(44, 90, 101);
    }
    .container{
        width:100%;
        max-width: 1000px;
        margin: 0 auto;
        background-color: azure;
        /* this will center the container div in the browser window when the screen is wider than 800px. */
    }

    /* switch to a more horizontal layout for the larger size*/
    main{
        width:75%;
        float:left;
    }

    aside{
        width:25%;
        float:left;
    }
    footer{
        clear: both;
        /* this tells the footer to see the floated elements and go below them */
    }

    .small{
        display: none;
    }
    .large{
        display: inline-block;
        /* show the larger image (use inline-block becayse thisis the default behaviour for an image */
    }
    img{
        width:50%;
        float: left;
        /* floating an image make the text wrap around it */
        margin-right: 1em;
    }
}